:root {
  // colors
  --grayscale-00: #ffffff;
  --grayscale-20: #f1f3f7;
  --grayscale-40: #9395b8;
  --grayscale-70: #06082c;

  // transitions
  --hover-transition: all 0.2s ease-in-out;

  // sizes
  --desktop-size: 968px;
}
